.layer {
  height: 100%;
  width: 100%;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  will-change: transform;
  transition: transform .75s cubic-bezier(.075, 0.5, 0, 1);
}
